.header{
    max-width: 1366px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.info{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 80%;  
    margin: auto;
}
.nav{
   
}
.name{
    font-weight: bold;
}
.socials{
    display: flex;
}
.socials {
    font-size: 30px;
    display: flex;
    gap: 20px;

}
.socials>a>img:hover{
    transform: scale(1.1); /* Adjust scale factor as needed */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}

.socials>a>img:active {
    transform: scale(.9); /* Adjust scale factor as needed */
    transition: transform 0.2s ease-in-out; /* Smooth transition */
}
