.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
    height: 100vh;
}
.about>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.h1{
    font-size: 35px;
    padding: 90px 0 20px 0;
    justify-content: center; 
    text-align: center;
}
.p{
font-size: 25px;
line-height: 35px;
text-align: justify;
/* text-align: center; */
}
.name{
    
    font-weight: bold;
    background: linear-gradient(to right, rgb(102, 51, 153), rgb(175, 5, 124));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 4px;
}